:root {
  --bg-color1: #f1c40f;
  --bg-color2: rgb(245, 179, 65);
  --bg-color3: rgb(205, 202, 202);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Home Page Style */
body {
  color: whitesmoke;
}

#home {
  color: transparent;
}
.outer-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 100vh;
  background-color: whitesmoke;
}

.p-context, .container-2 {
  width: 50%;
  height: 100%;
}

.container-2 {
  background: linear-gradient(rgba(0,0,0,0.2), rgba(0,0,0,0.2)), url(/images/441224656_856130106555684_6631477472344564394_n.jpg) center / contain no-repeat;
}

.home-text {
  width: 80%;
  height: 60%;
  margin-top: 12rem;
  padding-top: 4rem;
}

.home-text h2 {
  font-weight: bolder;
  font-size: 2.6rem;
  font-family: 'Montserrat';
}

.home-text h2 span {
  font-family: 'Quicksand';
  font-size: 2.8rem;
}

.home-text h1 {
  font-family: 'Montserrat';
  font-weight: bolder;
  font-size: 4.6rem;
}

.home-text h1 span {
  color: var(--bg-color1);
  font-family: 'Montserrat';
  font-weight: bolder;
  font-size: 4.6rem;
}

.home-text, h1, h2, p {
  margin-left: 4rem;
}

.p-text p {
  font-family: 'Quicksand';
  font-size: small;
}

.buttons {
  margin-left: 4rem;
}

.resume-btn, .contact-btn {
  border: none;
  border-radius: 20px;
  width: 10rem;
  height: 40px;
  color: whitesmoke;
  background-color: var(--bg-color1);
  font-weight: bold;
  font-family: 'Montserrat', sans-serif;
}

/* About Me Styles */
.about-container {
  display: flex;
  width: 100%;
  height: 100dvh;
  margin-top: 6rem;
  background-color: whitesmoke;
}

.sidebar {
  width: 20%;
  background-color: var(--bg-color1);
  color: #fff;
  padding-bottom: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.about {
  border: 1px dotted black;
  width: 90%;
  padding-top: 1rem;
  text-align: center;
}

.sidebar img {
  width: 100%;
  height: auto;
  margin-bottom: 20px;
}

.sidebar nav ul {
  list-style: none;
  padding: 0;
}

.sidebar nav ul li {
  margin: 15px 0;
}

.sidebar nav ul li a {
  color: black;
  text-decoration: none;
  font-size: 1.5em;
  font-family: 'Montserrat';
  font-weight: bold;
}

.sidebar nav ul li a:hover {
  border-left: 2px solid whitesmoke;
  color: white;
}

.content {
  width: 80%;
  padding: 40px;
}

.content h1 {
  font-size: 4em;
  font-family: 'Montserrat';
  font-weight: bolder;
  margin-bottom: 20px;
}

.content h2 {
  font-size: 1.5em;
}

.content p {
  color: #555;
  line-height: 1.6;
  margin: 20px 0;
}

.content-container {
  width: 90%;
  flex-wrap: wrap;
}

.caption h2{
  margin: 0;
  font-family:Arial, Helvetica, sans-serif;
}

.caption h2 span {
  font-size: x-large;
}

.content-stat {
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}

.stats {
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-wrap: wrap;
  width: 60%;
  height: 90%;
  margin:0;
  gap: .1rem;
}

.stat {
  width: 14rem;
  height: 10rem;
  background: #000;
  color: #fff;
  padding: 20px;
  text-align: center;
  flex-grow: 1;
  flex-basis: 100;
  margin: 0 auto;
}

.stat h3 {
  font-size: 2em;
  margin: 0;
  margin-top: 1.4rem;
  color: var(--bg-color1);
}

.stat p {
  margin: 10px 0 0;
}

.stat-1, .stat-3{
  border-right: 1px solid rgba(250, 164, 5,0.2);
}

.stat-3, .stat-4 {
  border-top: 1px solid rgba(250, 164, 5,0.2);
}

.what-i-do {
  justify-content: space-between;
  flex-wrap: wrap;
  margin-left: 1rem;
  height: 20.1rem;
}

.what-i-do ul {
  list-style: none;
  padding: 0;
}

.what-i-do ul li {
  margin: 10px 0;
  display: flex;
  align-items: center;
}

.what-i-do ul li i {
  font-size: 2em;
  margin-right: 10px;
}

.what-i-do ul li p {
  margin: 0;
}

/* Resume Styles */
.resume-container {
  display: flex;
  width: 100%;
  height: 100dvh;
  margin-top: 6rem;
  background-color: whitesmoke;
}

.resume {
  border: 1px dotted black;
  width: 90%;
  padding-top: 1rem;
  text-align: center;
}

.resume-sidebar img {
  width: 100%;
  height: auto;
  margin-bottom: 20px;
}

.resume-sidebar nav ul {
  list-style: none;
  padding: 0;
}

.resume-sidebar nav ul li {
  margin: 15px 0;
}

.resume-sidebar nav ul li a {
  color: black;
  text-decoration: none;
  font-size: 1.5em;
  font-family: 'Montserrat';
  font-weight: bold;
}

.resume-sidebar nav ul li a:hover {
  border-left: 2px solid whitesmoke;
  color: white;
}

.resume-sidebar {
  width: 20%;
  background-color: var(--bg-color1);
  color: #fff;
  padding-bottom: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.educ-container {
  width: 90%;
  margin-left: 3.3rem;
  display: flex;
  flex-wrap: wrap;
}

.education {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.education-phase {
  width: 32%;
  height: 14rem;
  margin-bottom: 20px;
}

.education-phase h2,
.education-phase h6 {
  margin-left: 0;
  text-align: left;
}

.education-phase p {
  margin-left: 0;
  font-size: 12px;
}

.highlight-1 {
  background-color: var(--bg-color1);
  width: 6rem;
  padding-left: 10px;
  border-radius: 6px;
  color: rgb(252, 246, 246);
  font-size: medium;
}

.highlight-2 {
  background-color: var(--bg-color1);
  width: 7.2rem;
  padding-left: 10px;
  border-radius: 6px;
  color: rgb(252, 246, 246);
}

.three {
  padding-top: 2rem;
}

.two {
  padding-top: 2.2rem;
}

/* Divider Style */
.divider {
  width: 90%;
  margin: 20px auto;
  border: 1px solid #000;
}

/* Experience style */
.exp-phase h2,
.exp-phase h6 {
  margin-left: 0;
  text-align: left;
}

.exp-container {
  width: 90%;
  margin-left: 3.3rem;
  display: flex;
  flex-wrap: wrap;
}

.experience {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.exp-phase {
  width: 32%;
  height: 14rem;
  margin-bottom: 20px;
}

.exp-phase p {
  margin-left: 0;
  font-size: 12px;
}

.exp-highlight-1 {
  background-color: var(--bg-color1);
  width: 11rem;
  padding-left: 10px;
  border-radius: 6px;
  color: rgb(252, 246, 246);
  font-size: medium;
}

.exp-highlight-2 {
  background-color: var(--bg-color1);
  width: 14rem;
  padding-left: 10px;
  border-radius: 6px;
  color: rgb(252, 246, 246);
}

.exp-highlight-3 {
  background-color: var(--bg-color1);
  width: 7.4rem;
  padding-left: 10px;
  border-radius: 6px;
  color: rgb(252, 246, 246);
  font-size: medium;
}

.exp-three {
  padding-top: 2rem;
}

.exp-two {
  padding-top: 2.2rem;
}